
<!--
Form für für Kassenanweisung
Haushaltsjahr: Textfeld
Titelnr: Textfeld
Geldgeber: Textfeld
Begründung: Textarea
Betrag: Textfeld
Geldempfänger: Textfeld
Zahlungsart: Auswahl
Beleg: Textfeld
Ausstellungsdatum: Textfeld
Zahlungsdatum: Textfeld
-->

{{#each rows}}
<div class="container abstand">
    <h1 class="ueberschrift">Kassenanweisung bearbeiten</h1>
    <form action="/kassenanweisungen/edit/{{Id}}?prevPage={{../PrevPage}}{{#if (filterTrue ../PrevFilter)}}&prevFilter={{../PrevFilter}}{{/if}}{{#if (limitTrue ../PrevLimit)}}&prevLimit={{../PrevLimit}}{{/if}}" method="post" role="form" enctype="application/x-www-form-urlencoded">
        <div class="row abstand">
            <div class="col">
                <label for="haushaltsjahr">Haushaltsjahr(YY/YY): </label>
                <input type="text" class="form-control " name="Haushaltsjahr" id="haushaltsjahr" value="{{Haushaltsjahr}}">
            </div>
            <div class="col">
                <label for="titelnr">Titelnr: </label>
                <input type="text" class="form-control" name="Titelnr" id="titelnr" value ="{{Titelnr}}">
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <label for="geldgeber">Geldgeber: </label>
                <input type="text" class="form-control " name="Geldgeber" id="geldgeber" value ="{{Name_Geldgeber}}">
            </div>
            <div class="col">
                <label for="geldanlage_geldgeber">Geldanlage des Geldgebers: </label>
                <input type="text" class="form-control " name="Geldanlage_Geldgeber" id="geldanlage_geldgeber" value ="{{Name_Geldanlage_Geldgeber}}">
            </div>
            <div class="col">
                <label for="geldempfaenger">Geldempfänger: </label>
                <input type="text" class="form-control" name="Geldempfaenger" id="geldempfaenger" value="{{Name_Geldempfaenger}}">
            </div>
            <div class="col">
                <label for="geldanlage_geldempfaenger">Geldanlage des Geldempfängers: </label>
                <input type="text" class="form-control " name="Geldanlage_Geldempfaenger" id="geldanlage_geldempfaenger" value ="{{Name_Geldanlage_Geldgeber}}">
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <label for="betrag">Betrag(Euro.Cent): </label>
                <input type="text" class="form-control" name="Betrag" id="betrag" value="{{Betrag}}">
            </div>
            <div class="col">
                <label for="zahlungsart">Zahlungsart: </label>
                <select name="Zahlungsart" class="custom-select" id="Zahlungsart" value="{{Zahlungsart}}">
                    <option value="Überweisung" {{#if (selected Zahlungsart "Überweisung")}} selected{{/if}}>Überweisung</option>
                    <option value="Bargeldeinzahlung" {{#if (selected Zahlungsart "Bargeldeinzahlung")}} selected{{/if}}>Bargeldeinzahlung</option>
                    <option value="Bargeldauszahlung" {{#if (selected Zahlungsart "Bargeldauszahlung")}} selected{{/if}}>Bargeldauszahlung</option>
                    <option value="Münzgeldeinzahlung" {{#if (selected Zahlungsart "Münzgeldeinzahlung")}} selected{{/if}}>Münzgeldeinzahlung</option>
                    <option value="Scheckeinreichung" {{#if (selected Zahlungsart "Scheckeinreichung")}} selected{{/if}}>Scheckeinreichung</option>
                    <option value="Tresoreinzahlung" {{#if (selected Zahlungsart "Tresoreinzahlung")}} selected{{/if}}>Tresoreinzahlung</option>
                </select>
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <div class="form-group">
                    <label for="begruendung">Begründung: </label>
                    <textarea class="form-control" rows="3" name="Begruendung" id="begruendung" >{{Begruendung}}</textarea>
                </div>
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <label  for="beleg">Beleg: </label>
                <select class="custom-select" name="Beleg" id="beleg">
                    <option {{#if (oneOf Beleg "Rechnung")}}selected{{/if}} value="Rechnung">Rechnung</option>
                    <option {{#if (oneOf Beleg "Quittung")}}selected{{/if}} value="Quittung">Quittung</option>
                    <option {{#if (oneOf Beleg "Überweisungsbeleg")}}selected{{/if}} value="Überweisungsbeleg">Überweisungsbeleg</option>
                </select>
            </div>
        </div>
<script type="text/javascript">
    const multiSelect = new IconicMultiSelect({
        select: "#beleg",
    });
    multiSelect.init();
</script>
        <div class="row abstand">
            <div class="col">
                <label for="ausstellungsdatum">Ausstellungsdatum</label>
                <input type="date" class="form-control" name="Ausstellungsdatum" id="ausstellungsdatum" value="{{formatdate Ausstellungsdatum}}">
            </div>
            <div class="col">
                <label for="zahlungsdatum">Zahlungsdatum</label>
                <input type="date" class="form-control" name="Zahlungsdatum" id="zahlungsdatum" value="{{formatdate Zahlungsdatum}}">
            </div>
        </div>
        <div class="row abstand">
            <div class="col">
                <input type="submit" class="btn btn-success" value="Absenden">
                <a href="/kassenanweisungen?page={{../PrevPage}}{{#if (filterTrue ../PrevFilter)}}&filter={{../PrevFilter}}{{/if}}{{#if (limitTrue ../PrevLimit)}}&limit={{../PrevLimit}}{{/if}}" type="button" class="btn btn-primary" value="Zurück">Zurück</a>
            </div>
        </div>

    </form>
</div>
{{/each}}