<nav class="navbar navbar-dark bg-dark">
    <div class="btn-group">
        <button type="button" class="btn btn-success">Filter nach Haushaltsjahr</button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
            {{#each haushaltsjahre}}
            <a class="dropdown-item" href="?page=1&filter={{Haushaltsjahr}}">{{Haushaltsjahr}}</a>
            {{/each}}
        </div>
    </div>
</nav>


{{#if removed}}
    <div class="alert alert-danger alert-dismissible fade show">
        <p>Kassenanweisung wurde erfolgreich gelöscht</p>
    </div>
{{/if}}

{{#if updated}}
    <div class="alert alert-success alert-dismissible fade show">
        <p>Kassenanweisung wurde erfolgreich aktualisiert</p>
    </div>
{{/if}}
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Haushaltsjahr</th>
                <th>Titelnummer</th>
                <th>Begründung</th>
                <th class="text-end">Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {{#each rows}}
            <tr>
                <td>{{Id}}</td>
                <td>{{Haushaltsjahr}}</td>
                <td>{{Titelnr}}</td>
                <td>{{Begruendung}}</td>
                <td>
                    <a href="/kassenanweisungen/view/{{Id}}?prevPage={{../page}}{{#if ../filterIsTrue}}&prevFilter={{../filter}}{{/if}}" type="button" class="btn btn-small btn-success">Betrachten</a>
                    <a href="/kassenanweisungen/edit/{{Id}}?prevPage={{../page}}{{#if ../filterIsTrue}}&prevFilter={{../filter}}{{/if}}" type="button" class="btn btn-small btn-primary">Bearbeiten</a>
                    <a href="/kassenanweisungen/delete/{{Id}}?prevPage={{../page}}{{#if ../filterIsTrue}}&prevFilter={{../filter}}{{/if}}" type="button" class="btn btn-small btn-danger">Löschen</a>
                    <a href="http://{{../host_ip}}:{{../backend_port}}/kassenanweisungen/{{Id}}" target="_blank" rel="noreferrer noopener" type="button" class="btn btn-small btn-secondary">PDF</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="d-flex abstand paging">
        <ul class="pagination">
            <li class="page-item {{#if firstpage}}disabled{{/if}}">
                <a class="page-link" href="?page={{prevpage page}}{{#if filterIsTrue}}&filter={{filter}}{{/if}}">Vorherige Seite</a>
            </li>
            <li class="page-item {{#if lastpage}}disabled{{/if}}">
                <a class="page-link" href="?page={{nextpage page}}{{#if filterIsTrue}}&filter={{filter}}{{/if}}">Nächste Seite</a>
            </li>
        </ul>
    </div>
    <div class="d-flex justify-content-center">
        <p>Seite {{page}} von {{maxpage}}</p>
    </div>
</div>