{{#if removed}}
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        <p>Kassenanweisung wurde erfolgreich gelöscht</p>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Schließen">Schließen</button>
    </div>
{{/if}}
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Haushaltsjahr</th>
                <th>Titelnummer</th>
                <th>Begründung</th>
                <th class="text-end">Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {{#each rows}}
            <tr>
                <td>{{Kassenanweisung_ID}}</td>
                <td>{{Haushaltsjahr}}</td>
                <td>{{Titelnr}}</td>
                <td>{{Begründung}}</td>
                <td>
                    <a href="/view/{{Kassenanweisung_ID}}" type="button" class="btn btn-small btn-success">Betrachten</a>
                    <a href="/edit/{{Kassenanweisung_ID}}" type="button" class="btn btn-small btn-primary">Bearbeiten</a>
                    <a href="/{{Kassenanweisung_ID}}" type="button" class="btn btn-small btn-danger">Löschen</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>