{{#if removed}}
    <div class="alert alert-danger alert-dismissible fade show">
        <p>Kassenanweisung wurde erfolgreich gelöscht</p>
    </div>
{{/if}}

{{#if updated}}
    <div class="alert alert-success alert-dismissible fade show">
        <p>Kassenanweisung wurde erfolgreich aktualisiert</p>
    </div>
{{/if}}
<div class="container-fluid">
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Haushaltsjahr</th>
                <th>Titelnummer</th>
                <th>Begründung</th>
                <th class="text-end">Aktionen</th>
            </tr>
        </thead>
        <tbody>
        {{#each rows}}
            <tr>
                <td>{{Id}}</td>
                <td>{{Haushaltsjahr}}</td>
                <td>{{Titelnr}}</td>
                <td>{{Begruendung}}</td>
                <td>
                    <a href="/kassenanweisungen/view/{{Id}}?prevPage={{../page}}" type="button" class="btn btn-small btn-success">Betrachten</a>
                    <a href="/kassenanweisungen/edit/{{Id}}?prevPage={{../page}}" type="button" class="btn btn-small btn-primary">Bearbeiten</a>
                    <a href="/kassenanweisungen/delete/{{Id}}?prevPage={{../page}}" type="button" class="btn btn-small btn-danger">Löschen</a>
                    <a href="http://{{../host_ip}}:{{../backend_port}}/kassenanweisungen/{{Id}}" target="_blank" rel="noreferrer noopener" type="button" class="btn btn-small btn-secondary">PDF</a>
                </td>
            </tr>
        {{/each}}
        </tbody>
    </table>
    <div class="d-flex abstand paging">
        <ul class="pagination">
            <li class="page-item {{#if firstpage}}disabled{{/if}}">
                <a class="page-link" href="?page={{prevpage page}}">Vorherige Seite</a>
            </li>
            <li class="page-item {{#if lastpage}}disabled{{/if}}">
                <a class="page-link" href="?page={{nextpage page}}">Nächste Seite</a>
            </li>
        </ul>
    </div>
</div>