
<!--
Form für für Kassenanweisung
Haushaltsjahr: Textfeld
Titelnr: Textfeld
Geldgeber: Textfeld
Begründung: Textarea
Betrag: Textfeld
Geldempfänger: Textfeld
Zahlungsart: Auswahl
Beleg: Textfeld
Ausstellungsdatum: Textfeld
Zahlungsdatum: Textfeld
-->

{{#each rows}}
    <div class="container abstand">
        <h1 class="ueberschrift">Kassenanweisung betrachten</h1>
        <form action="/" method="post" role="form" enctype="application/x-www-form-urlencoded">
            <div class="row abstand">
                <div class="col">
                    <label for="haushaltsjahr">Haushaltsjahr(YY/YY): </label>
                    <input type="text" class="form-control " name="Haushaltsjahr" id="haushaltsjahr" value="{{Haushaltsjahr}}" readonly>
                </div>
                <div class="col">
                    <label for="titelnr">Titelnr: </label>
                    <input type="text" class="form-control" name="Titelnr" id="titelnr" value ="{{Titelnr}}" readonly>
                </div>
            </div>
            <div class="row abstand">
                <div class="col">
                    <label for="geldgeber">Geldgeber: </label>
                    <input type="text" class="form-control " name="Geldgeber" id="geldgeber" value ="{{Geldgeber}}"readonly>
                </div>
                <div class="col">
                    <label for="geldempfaenger">Geldempfänger: </label>
                    <input type="text" class="form-control" name="Geldempfänger" id="geldempfaenger" value="{{Geldempfänger}}" readonly>
                </div>
            </div>
            <div class="row abstand">
                <div class="col">
                    <label for="betrag">Betrag(Euro.Cent): </label>
                    <input type="text" class="form-control" name="Betrag" id="betrag" value="{{Betrag}}" readonly>
                </div>
                <div class="col">
                    <label for="zahlungsart">Zahlungsart: </label>
                    <select name="zahlungsart" class="custom-select" id="Zahlungsart" value="{{Zahlungsart}}" disabled>
                        <option>Bitte wählen Sie...</option>
                        <option value="Überweisung" {{#if (selected Zahlungsart "Überweisung")}} selected{{/if}}>Überweisung</option>
                        <option value="Bargeldeinzahlung" {{#if (selected Zahlungsart "Bargeldeinzahlung")}} selected{{/if}}>Bargeldeinzahlung</option>
                        <option value="Bargeldauszahlung" {{#if (selected Zahlungsart "Bargeldauszahlung")}} selected{{/if}}>Bargeldauszahlung</option>
                        <option value="Münzgeldeinzahlung" {{#if (selected Zahlungsart "Münzgeldeinzahlung")}} selected{{/if}}>Münzgeldeinzahlung</option>
                        <option value="Scheckeinreichung" {{#if (selected Zahlungsart "Scheckeinreichung")}} selected{{/if}}>Scheckeinreichung</option>
                        <option value="Tresoreinzahlung" {{#if (selected Zahlungsart "Tresoreinzahlung")}} selected{{/if}}>Tresoreinzahlung</option>
                    </select>
                </div>
            </div>
            <div class="row abstand">
                <div class="col">
                    <div class="form-group">
                        <label for="begruendung">Begründung: </label>
                        <textarea class="form-control" rows="3" name="Begründung" id="begruendung" readonly>{{Begründung}}</textarea>
                    </div>
                </div>
            </div>
            <div class="row abstand">
                <div class="col">
                    <label for="beleg">Beleg: </label>
                    <input type="text" class="form-control" name="Beleg" id="beleg" value="{{Beleg}}" readonly>
                </div>
            </div>
            <div class="row abstand">
                <div class="col">
                    <label for="ausstellungsdatum">Ausstellungsdatum</label>
                    <input type="date" class="form-control" name="Ausstellungsdatum" id="ausstellungsdatum" value="{{formatdate Ausstellungsdatum}}" readonly>
                </div>
                <div class="col">
                    <label for="zahlungsdatum">Zahlungsdatum</label>
                    <input type="date" class="form-control" name="Zahlungsdatum" id="zahlungsdatum" value="{{formatdate Zahlungsdatum}}" readonly>
                </div>
            </div>
            <div class="row abstand">
                <div class="col">
                    <a href="/kaweanzeigen" type="button" class="btn btn-success" value="Zurück">Zurück</a>
                </div>
            </div>

        </form>
    </div>
{{/each}}